.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h5, p{
  margin: 0;
}

.styles{
  text-align: center;
}

button{
  margin: 10px 5px;
}

h3{
  margin-bottom: 0;
}

.outfit{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4{
  text-align: center;
  margin: 10px 0 0;
}

img{
  height: 150px;
}